parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Igniter\\\\Frontend\\\\Models\\\\Slider\\:\\:create\\(\\)\\.$#"
			count: 1
			path: database/migrations/2019_11_02_000300_create_sliders_table.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropForeignKeyIfExists\\(\\)\\.$#"
			count: 1
			path: database/migrations/2021_11_18_010300_add_foreign_key_constraints_to_tables.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropForeignKeyIfExists\\(\\)\\.$#"
			count: 1
			path: database/migrations/2022_06_30_010000_drop_foreign_key_constraints.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Blueprint\\:\\:dropIndexIfExists\\(\\)\\.$#"
			count: 1
			path: database/migrations/2022_06_30_010000_drop_foreign_key_constraints.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Frontend\\\\Models\\\\CaptchaSettings\\:\\:instance\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Frontend\\\\Models\\\\MailchimpSettings\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Banners.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Sliders.php

		-
			message: "#^Access to an undefined property Igniter\\\\Frontend\\\\Models\\\\Banner\\:\\:\\$type\\.$#"
			count: 1
			path: src/Models/Banner.php

		-
			message: "#^Call to an undefined method Igniter\\\\Frontend\\\\Models\\\\Banner\\:\\:dropdown\\(\\)\\.$#"
			count: 1
			path: src/Models/Banner.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Frontend\\\\Models\\\\MailchimpSettings\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/Models/MailchimpSettings.php

		-
			message: "#^Access to an undefined property Igniter\\\\Frontend\\\\Models\\\\Subscriber\\:\\:\\$email\\.$#"
			count: 1
			path: src/Models/Subscriber.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Frontend\\\\Models\\\\MailchimpSettings\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/Models/Subscriber.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Frontend\\\\Models\\\\Subscriber\\:\\:firstOrCreate\\(\\)\\.$#"
			count: 1
			path: src/Models/Subscriber.php
